TDImporterXML.RobotPosService/Web References/RobotposServices/integration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://integration.infinia.robotpos.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://integration.infinia.robotpos.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://integration.infinia.robotpos.com/">
      <s:element name="getXmlData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dataTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branchList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendAll" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getXmlDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getXmlDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addZreport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="branchId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="stationEcrNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addZreportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addZreportResult" type="tns:AddZReportReturnModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddZReportReturnModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="WaitingZ" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="addZreportError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="addDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="stationEcrNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="branchId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addZreportErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addZreportErrorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZreportJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationEcrNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getZreportJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getZreportJobResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkZreportJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationEcrNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkZreportJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkZreportJobResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationEcrNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="branchID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getLastZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getXmlDataSoapIn">
    <wsdl:part name="parameters" element="tns:getXmlData" />
  </wsdl:message>
  <wsdl:message name="getXmlDataSoapOut">
    <wsdl:part name="parameters" element="tns:getXmlDataResponse" />
  </wsdl:message>
  <wsdl:message name="addZreportSoapIn">
    <wsdl:part name="parameters" element="tns:addZreport" />
  </wsdl:message>
  <wsdl:message name="addZreportSoapOut">
    <wsdl:part name="parameters" element="tns:addZreportResponse" />
  </wsdl:message>
  <wsdl:message name="addZreportErrorSoapIn">
    <wsdl:part name="parameters" element="tns:addZreportError" />
  </wsdl:message>
  <wsdl:message name="addZreportErrorSoapOut">
    <wsdl:part name="parameters" element="tns:addZreportErrorResponse" />
  </wsdl:message>
  <wsdl:message name="getZreportJobSoapIn">
    <wsdl:part name="parameters" element="tns:getZreportJob" />
  </wsdl:message>
  <wsdl:message name="getZreportJobSoapOut">
    <wsdl:part name="parameters" element="tns:getZreportJobResponse" />
  </wsdl:message>
  <wsdl:message name="checkZreportJobSoapIn">
    <wsdl:part name="parameters" element="tns:checkZreportJob" />
  </wsdl:message>
  <wsdl:message name="checkZreportJobSoapOut">
    <wsdl:part name="parameters" element="tns:checkZreportJobResponse" />
  </wsdl:message>
  <wsdl:message name="getLastZSoapIn">
    <wsdl:part name="parameters" element="tns:getLastZ" />
  </wsdl:message>
  <wsdl:message name="getLastZSoapOut">
    <wsdl:part name="parameters" element="tns:getLastZResponse" />
  </wsdl:message>
  <wsdl:portType name="integrationServiceSoap">
    <wsdl:operation name="getXmlData">
      <wsdl:input message="tns:getXmlDataSoapIn" />
      <wsdl:output message="tns:getXmlDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addZreport">
      <wsdl:input message="tns:addZreportSoapIn" />
      <wsdl:output message="tns:addZreportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addZreportError">
      <wsdl:input message="tns:addZreportErrorSoapIn" />
      <wsdl:output message="tns:addZreportErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getZreportJob">
      <wsdl:input message="tns:getZreportJobSoapIn" />
      <wsdl:output message="tns:getZreportJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkZreportJob">
      <wsdl:input message="tns:checkZreportJobSoapIn" />
      <wsdl:output message="tns:checkZreportJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastZ">
      <wsdl:input message="tns:getLastZSoapIn" />
      <wsdl:output message="tns:getLastZSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="integrationServiceSoap" type="tns:integrationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getXmlData">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/getXmlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addZreport">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/addZreport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addZreportError">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/addZreportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZreportJob">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/getZreportJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkZreportJob">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/checkZreportJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastZ">
      <soap:operation soapAction="http://integration.infinia.robotpos.com/getLastZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="integrationServiceSoap12" type="tns:integrationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getXmlData">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/getXmlData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addZreport">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/addZreport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addZreportError">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/addZreportError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZreportJob">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/getZreportJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkZreportJob">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/checkZreportJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastZ">
      <soap12:operation soapAction="http://integration.infinia.robotpos.com/getLastZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="integrationService">
    <wsdl:port name="integrationServiceSoap" binding="tns:integrationServiceSoap">
      <soap:address location="http://31.207.80.227/tavukdunyasi/TavukDunyasiYeni/integration.asmx" />
    </wsdl:port>
    <wsdl:port name="integrationServiceSoap12" binding="tns:integrationServiceSoap12">
      <soap12:address location="http://31.207.80.227/tavukdunyasi/TavukDunyasiYeni/integration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>